:host {
  color: #FFFFFF;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.content-wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

button.hamburger {
  position: absolute;
  left: 25%;
  z-index: 999;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px transparent;
  transition: left 400ms linear;
  -o-transition: left 400ms linear;
  -moz-transition: left 400ms linear;
  -webkit-transition: left 400ms linear;
}

button.hamburger.active {
  position: absolute;
  left: 0px;
  z-index: 999;
}

button.hamburger span:before{
  content:"◀";
}

button.hamburger.active span:before{
  content:"▶";
}
